version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: dernier_metro
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d

  api:
    build: ./api
    depends_on:
      - postgres
    environment:
      PGHOST: postgres
      PGUSER: app
      PGPASSWORD: app
      PGDATABASE: dernier_metro
      PGPORT: 5432
      APP_PORT: 5000
      NODE_ENV: development
    ports:
      - "5000:5000"

volumes:
  postgres_data:
